header{
  position: fixed;
  padding-left: 0;
  padding-right: 10px;
  padding-top: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  align-items: center;
  z-index: 200;
  
}




.icon{
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 50.25px;
  margin: 0 5.875px;
  cursor: pointer;
  transition: background-color 0.15s;
  
  border-radius: 20px;

}
.icon:hover{
  border-radius: 20px;
  background-color: lightgray;
  border: 1px solid black;
}
.icon img{
  width: 26.25px;
  height: 26.25px;
  margin-right: 10px;
}
.icon div{
  font-weight: bold;
}
.logo{
  width: 50.25px;
  margin-left: 10.875px;
}
.logo img{
  width: 26.25px;
}
button{
  font-weight: bold;
  padding: 15px 75px;
  align-items: center;
  margin: 5px 10.875px;
  border-radius: 30px;
  background-color: blue;
  color: white;
  border: 1px solid white;
  font-size: 20px;
 
}
.prof{
  display: flex;
  height: 64px;
  margin-top: 20px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s;
  padding-left: 5px;
  border-radius: 20px;
  margin-left: 5.875px;
  
}
.pfp{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name{
  margin-bottom: 2px;
  font-weight: bold;
}
.mor{
  width: 20px;
  margin-left: 25px;
}
.prof:hover{
  border-radius: 20px;
  background-color: lightgray;
  border: 1px solid black;
}
.second{
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}