.exercise{
  padding-left: 311px;
  padding-top: 53px;
}
section{
  display: flex;
  gap: 10px;
}
.one{
  width: 566px;
  border-right: 1px solid black;



}
.two{
  width: 316px;
}
.head{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black ;
  position: fixed;
  top: 0;
  width: 566px;
  z-index: 3000;
  
}
.head div{
  padding: 0 16px;

  height: 53px;
  transition: background-color 0.15s;
  cursor: pointer;
 

}
.head div:hover{
  background-color: lightgray;
}
.fy, .follo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}
a{
  flex: 1;
  color: black;
  
}
